body {
    background-color: lightskyblue;
    max-width: 400px;
    max-height: 400px;

}

.game-board {
    background-color: lightskyblue;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: width
}

#card1 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

#card2 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

#card3 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

#card4 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

#card5 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

#card6 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

#card7 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

#card8 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

#card9 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

#card10 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

#card11 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

#card12 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

.card {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;


