body {
    background-color: lightskyblue;
    max-width: 400px;
    max-height: 400px;

}




.game-board {
    background-color: lightskyblue;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: width
}


.cardDeck {
    background-color: purple;
    color: white;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;

}
.cardDeck.trans {
    /* transform: rotateY(180deg);*/
    opacity: 30%;
}





.cardFront {
    background-color: purple;
    color: white;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    position: absolute;
    backface-visibility: visible;
    /* transform: rotateY(180deg); */
    


    
    
}

.cardBack {
    background-color: purple;
    color: purple;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    position: absolute;
   

    
}

.cardBack.trans {
    background-color: white;
    color: purple;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    position: absolute;
    opacity: 0%;
   

    
}
/* BELOW IS CSS FOR MY FIRST ATTEPT PRIOR TO REFACTORING
.cardBack, .cardFront {
    background-color: green;
    color: white;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    position: absolute;
    opacity: 50;
    backface-visibility: hidden;
} */

/* #card3 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

#card4 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

#card5 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

#card6 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

#card7 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

#card8 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

#card9 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

#card10 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

#card11 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
}

#card12 {
    background-color: green;
    color: green;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border:black solid;
    float: left;
    width: 100px;
    height: 100px;
    float: left;
    
} */


